input {
    text-align: center;
}

.code_validation_wrapper {
    background: transparent;
    background: transparent;
}

.code_validation_link {
    color: #7dd9d4;
    &:hover{
        cursor: pointer;
    }
}
