input {
    text-align: center;
}

.code_validation_wrapper {
    background: transparent;
    background: transparent;
}

.code_validation_link {
    color:  #00b48f;
    font-weight: bold;
    &:hover{
        cursor: pointer;
    }
}
