/* You can add global styles to this file, and also import other style files */
@import "./assets/sass/style.scss";
// Replace above style with this css file to enable RTL styles
@import './assets/sass/plugins.scss';
// @import "./assets/css/style.rtl.css";
@import "./assets/sass/style.angular.scss";

.btn-primary-blumer {
    color: white;
    background-color: #8364e2;
    width: 140%;
  }

  .btn-green-blumer {
    color: white;
    background-color: #00b48f;
    width: 140%;
  }

  body {
    background: rgb(142,140,177);
background: linear-gradient(180deg, rgba(142,140,177,1) 0%, rgba(255,255,255,1) 29%, rgba(236,252,255,1) 100%);
  }

  .btn-primary-blumer:hover {
    color: white;
    background-color: #00b48f;
    width: 140%;
  }

  .new {
    border-radius: 5px;
    color: rgb(5, 5, 5);
    font-weight: 200;
    width: 140%;
    height: 45px;
    font-size: 15px;
    border: 0px;

    &:hover {
      background-color: rgba(197, 195, 195, 0.781);
    }
  }
