<div class="main-wrapper validation_wrapper font-word" >
  <div class="row">
    <div class="col-9">
      <router-outlet></router-outlet>
    </div>

    <div class="align-items-center col-3 d-flex flex-column">
      <a class="btn btn-primary-blumer btn-sm btncustom"
        [routerLink]="url.fac"
        routerLinkActive="active-button"
        role="button">Facturacion</a>
      <a class="btn btn-primary-blumer btn-sm btncustom mt-2"
        [routerLink]="url.serv"
        routerLinkActive="active-button"
        role="button">Servicio al cliente</a>
    </div>
  </div>

</div>
