<div class="main-wrapper" >

  <div class="row">

    <div class="col-10">
      <router-outlet></router-outlet>
    </div>

    <div class="col-2 d-flex flex-column">
      <a class="btn btn-primary-blumer btn-sm w-100"
        [routerLink]="url.fac"
        routerLinkActive="active-button"
        role="button">Facturacion</a>
      <a class="btn btn-primary-blumer btn-sm w-100 mt-2"
        [routerLink]="url.serv"
        routerLinkActive="active-button"
        role="button">Servicio al cliente</a>
    </div>
  </div>

</div>
