
.sp {
  position: absolute;
    left: 93%;
}

.text {
    color: #808080;
    font-size: 14px;
    font-weight: 500;
}
.boder {
  border: 3px solid #FFFFFF;
  background:rgba(239, 239, 239, 1) 100%;
  border-radius: 7px;
  width: 90%;
  padding: 12px 20px 7px 13px;
}
.espacio {
  position: relative;
    left: 12px;
}
