
.sp {
  position: absolute;
    left: 93%;
}

.text {
    color: #808080;
    font-size: 14px;
    font-weight: 500;
}
.boder {
  border: 3px solid #FFFFFF;
  background-color: #F5F8F8;
  border-radius: 10px;
  width: 130%;
  padding: 15px 30px;

  label, span {
    color: #6F6F6F;
    font-family: 'DM Sans', sans-serif;
  }

  label {
    font-size: 15px;
    font-weight: bold;
  }

  span {
    font-size: 12px;
    font-weight: normal;
  }

  .content-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
  }
}
.espacio {
  position: relative;
    left: 12px;
}