
<div class="boder p-7 font-word" >
<div class="container-info">   
  <div>
      <img src="../../../.../../../../assets/imagen/Grupo 14107.png" alt=""> 
      <input class="input" placeholder="50.000 COP" type="text">
      
  </div>
   <p>Equivale a 25.000 Internacionales</p>   
  </div>
  <p class="text">{{titulo}}</p>
  <label>{{text}}<span class="sp">24K</span></label>
  <br>
  <br>
  <p class="text">{{datos}}</p>
  <label>NFTs <span class="sp">5k</span></label>
  <br>
  <br>
  <label>Crytp<span class="sp">10k</span></label>
  <br>
  <br>
  <label>Tecnologia <span class="sp">9k</span></label>
  <br>
  <br>
</div>
