
.sp {
  position: absolute;
    left: 93%;
}

.text {
    color: #808080;
    font-size: 14px;
    font-weight: 500;
}
.boder {
  border: 3px solid #FFFFFF;
  background-color: #F5F8F8;
  border-radius: 7px;
  width: 90%;
  padding: 12px 20px 7px 13px;
}
.espacio {
  position: relative;
    left: 12px;
}

.container-info{

  background-image: url("../../../../assets/imagen/Grupo\ 13989.png");
  background-size: 100% ;
  color: white;
  
}
.input{
  border: none;
  background: transparent;
}