<div class="p-5">
  <div class="dropdown font-word" >
    <button class="btn btn-secondary dropdown-toggle btn-selector-option" type="button"
      id="dropdownMenu2" data-bs-toggle="dropdown" aria-expanded="false">
      <i [class]="selectedOptionColorNew.icon"
        [style.color]="selectedOptionColorNew.color" ></i>
      {{ selectedOptionColorNew.name }}
    </button>
    <ul class="dropdown-menu menu-custom-style" aria-labelledby="dropdownMenu2">
      <li *ngFor="let item of selConfig; index as i">
        <button (click)="selectedItem(item)" class="dropdown-item btn-selector-option-item" type="button">
          <i [class]="item.icon" [style.color]="item.color"></i> {{ item.name }}
        </button>
      </li>
    </ul>
  </div>
</div>
