.example-chip-list {
  width: 50%;
  border-radius: 1px;
  :focus {
    outline: 0px solid gainsboro;
  }
}

.nino {
  position: absolute;
    top: -10px;
    left: 27px;
    padding: 2px 8px 20px 2px;
    width: 200%;
}

.i {
    position: absolute;
    top: -10px;
    font-size: 127%;
}
.position {
    position: relative;
    top: 31px;
    border-radius: 7px;
    font-family: 'Segoe UI';
    font-size: 14px;
}

.never {
  position: absolute;
    top: -4px;
}
.text {
  font-family: 'Segoe UI';
    font-size: 14px;
}

