<div class="text">
  <p class="text-p">{{p}}</p>
  <label>{{label}} </label>
</div>
<mat-form-field class="example-chip-list font-word" appearance="fill">
  <i class="fa-solid fa-magnifying-glass i"></i>
  <mat-chip-list class="never" #chipList aria-label="Category selection">
    <mat-chip class="position" *ngFor="let category of category" (removed)="remove(category)">
      {{category.name}}
      <!-- <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button> -->
      <i class="fa-solid fa-xmark" matChipRemove></i>
    </mat-chip>
    <input class="nino" placeholder="Escribe aquí" [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes" [matChipInputAddOnBlur]="addOnBlur"
      (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
</mat-form-field>
