.example-chip-list {
  width: 100%;
}

.nino {
  position: absolute;
    top: -10px;
    left: 27px;
    padding: 2px 8px 20px 2px;
    width: 200%;
}

.i {
    position: absolute;
    top: -10px;
    font-size: 127%;
}
.position {
    position: relative;
    top: 31px;
    border-radius: 7px;
    font-family: 'Segoe UI';
    font-size: 14px;
}

.never {
  position: absolute;
    top: -4px;
}
.text {
  font-size: 1.05rem;
    font-weight: 500;
    color: #808080;
}
.text-p {
  font-size: 1.05rem;
    font-weight: 800;
    color: #808080;
}


mat-form-field-flex {
  border-radius: 4px 8px 0 0;
  padding: 0.75em 0.75em 0 0.75em;
}
