.example-chip-list {
  width: 100%;
}

.nino {
  position: absolute;
    top: -25px;
    left: 27px;
    padding: 2px 8px 20px 2px;
    width: 200%;
}

.i {
    position: absolute;
    top: -10px;
    font-size: 127%;
}
.position {
    position: relative;
    top: 31px;
    border-radius: 7px;
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
}

.never {
  position: relative;
  top: 10px;
}

.text-p {
  font-size: 1.05rem;
    font-weight: 800;
    color: #808080;
}

mat-form-field {
  margin-bottom: 20px !important;
}

mat-form-field-flex {
  border-radius: 7px;
  padding: 0.75em 0.75em 0 0.75em;
}

::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  border-radius: 7px !important;
  background-color: #EEF0F1;
  border: 1px solid white;
  padding: 1em 0.75em 0.75em 0.75em !important;
}

::ng-deep .mat-chip-list-wrapper {
  margin: -4px -14px !important;
}

::ng-deep .mat-form-field-underline {
  display: none;
}

.text {
  p, label {
    color: #6F6F6F;
    font-family: 'DM Sans', sans-serif;
  }
  p {
    font-size: 14px;
    font-weight: bolder;
  }

  label {
    font-size: 12px;
    font-weight: normal;
  }
}