.container-info{

    background-image: url("../../../../assets/imagen/Grupo\ 13989.png");
    background-size: 100% ;
    color: white;
    
}
.input{
    border: none;
    background: transparent;
    color: white;
    background-size: auto;
}