.purpule{
    background-color: #8364e2;
}
.auxiliar{
    background-color:   #7dd9d4;
}
.cancel{
    background-color:  #eef0f1;
}
.alternative{
    background-color: #e8e0f4;
}
.confirmation{
    background-color: #00b48f;
}