<div class="container " [ngClass]="{'loading': flat }">
  <div class="header">
    <div class="cabezera1">
      <img src="http://lapi.com.mx/web/image/product.template/4986/image_1024?unique=fee29bb" alt="" srcset="">
      <div>
        <label *ngIf="motrarHeader" for="">Blackhost</label><br>
        <span *ngIf="motrarHeader">Publicidad</span>
      </div>
    </div>
    <div class="cabezera2">
      <button>{{textBoton}}</button>
      <span>x</span>
    </div>
  </div>
  <div class="img">
    <img *ngIf="img" src="https://img.freepik.com/vector-gratis/pack-iconos-perfil-dibujados-mano_52683-72353.jpg?w=2000" alt="">
  </div>
  <div class="body-text">
    <label for="" *ngIf="body">Lleva tu página web a otro nivel</label>
    <p *ngIf="body">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maiores blanditiis quia quidem numquam consequatur corrupti necessitatibus alias magnam itaque, recusandae ipsam, nihil enim obcaecati. Illo ab saepe ad eaque perferendis.</p>
  </div>
<div>