.userinput {
  position: relative;
  width: 42%;
  height: 45px;
  margin-left: 56%;
  top: -29.1em;
  border: 1px solid;
  border-radius: 6px;
  padding: 10px 30px 9px 29px;
  border: 1px solid gainsboro;
}

.user input:focus {
  outline: 0px solid gainsboro;
}

.right{
  color: #6f6f6f;
  font-size: 19px;
  position: absolute;
  top: 11.5rem;
  left: 67%;
  cursor: pointer;

}
.user-left {
  position: relative;
  font-size: 19px;
  cursor: pointer;
  top: -31.6rem;
  left: 58.1%;
}

.parrafo {
  position: absolute;
  right: 477px;
  top: 114px;
}
