
<div class="page-background validation_wrapper font-word ">
  <div class="d-flex gap-6 p-8">
    <div class=" rew">
        <app-avatarprofile></app-avatarprofile>
    </div>

      <div class="card-body card-bordered-white">
        <h3 class="h3">Configuración de tu perfil</h3>
        <p class="p">Aquí podrás tener acceso a toda tu información.</p>
        <div>
          <app-input-field></app-input-field>
        </div>
        <div>
          <app-input-email></app-input-email>
        </div>
        <div>
          <app-input-password></app-input-password>
        </div>
        <app-business-position  title="Cargo empresarial"></app-business-position>

        <!-- <app-user [label]="'Coloca tu usuario de Blumer'"></app-user> -->
          <!-- <button class="color new">Cambiar contraseña</button> -->
          <i class="fa-solid fa-lock icon-left"></i>
            <button class="btn m-5">Guardar</button>
      </div>



  </div>
</div>
