<div class="container-radio font-word">
  <label class="form-label label-select">Genero</label>
  <div class="contenedor-radio-item">

    <div class="Todos">
      <input name="GRUPO" type="radio" id="radio1">
      <label for="radio1">Todos</label>
    </div>
    <div class="Hombre">
      <input name="GRUPO" type="radio" id="radio2"><label for="radio2">Hombre</label>
    </div>
    <div class="Mujer">
      <input name="GRUPO" type="radio" id="radio3"><label for="radio3">Mujer </label>
    </div>
    <div class="Otros">
      <input name="GRUPO" type="radio" id="radio4"><label for="radio4">Otros</label>
    </div>
  </div>
</div>
