.main-container {
  background: #fff;
  width: 100px;
  height: 100px;
  display: flex;
}

.profile {
  display: flex;
  padding: 16px;
  position: relative;

  & > img {
    width: 100%;
    border-radius: 50%;
  }

  & > .active-icon {
    position: absolute;
    width: 26px;
    height: 26px;
    background: #12c312;
    border-radius: 50%;
    right: 12px;
    border: 8px solid #fff;
  }
}
