.container-info{
    background-image: url("../../../../assets/imagen/Grupo\ 13989.png");
    background-size: cover;
    color: white;
    padding: 0.35rem;
    border-radius: 10px;
    font-family: 'DM Sans', sans-serif;
}

.input {
    border: none;
    background: transparent;
    color: white;
}