.btn-selector-option {
    border-radius: 0;

  }

  .menu-custom-style {
    li {
      .btn-selector-option-item {
        height: 50px;
      }
    }
  }

  .label-select {
    color: #808080;
  }

