<div class="card-header d-flex flex-column border-0 pt-9 border-white">
  <div class="card-body d-flex flex-column px-5 pt-6 pb-0 mb-5" style="text-align: center;">
    
    <div class="fs-2tx align-items-center fw-bolder mb-2 text-gray" >
        {{ value }}
    </div>
    <div class="fw-bold text-gray fs-3">{{ description }}</div>
   
  </div>
 

  <div class="d-flex d-flex flex-row-reverse align-items-center fw-bold pb-3">
    <button type="button" class="btn info-numbers-cta" placement="bottom" ngbTooltip="Total de saldo invertido en tus campañas." triggers="click:blur">
        <img [src]="icon" alt="card2" />
    </button>
</div> 
</div>

  
  