<div style="text-align: center;">
  <div class="div1">
    <button class="btn1 custom" type="button">
      <div class="d-flex flex-column items-center">
        <img class="img" src="https://cdn-icons-png.flaticon.com/512/2659/2659360.png"> <span>Imágen</span>
      </div>
    </button>
    <button class="custom" type="button">
      <div class="d-flex flex-column items-center">
        <img class="img" src="https://cdn-icons-png.flaticon.com/512/4021/4021977.png"> <span>Video</span>
      </div>
    </button>
  </div>
  <div>
    <button class="btn3 custom" type="button">
      <div class="d-flex flex-column items-center">
        <img class="img" src="https://cdn-icons-png.flaticon.com/512/1632/1632670.png"> <span>Encuesta</span>
      </div>
    </button>
    <button class="custom" type="button">
      <div class="d-flex flex-column items-center">
        <img class="img" src="https://cdn-icons-png.flaticon.com/512/781/781273.png"> <span>Álbum</span>
      </div>
    </button>
  </div>
</div>
