.div1 {
  position: relative;
    top: -6px;
}

.btn1 {
  position: relative;
  right: 8px;
}
.btn3 {
  position: relative;
  right: 8px;
}

.custom{
  width: 215px;
  height: 130px;
  border: 1px solid gainsboro;
  border-radius: 10px;
  font-size: 10px;
  background-color: white;
}

.img {
  height: 50px;
    width: 50px;
    margin: auto;
    object-fit: fill;
}
.spam {
 font-family: 'DM Sans', sans-serif;
}

.card-bordered-white {
  background-color: #F5F8F8;
  border: 3px solid #FFFFFF;
}
