
<div class="font-word">
  <div class="card-body card-bordered-white">
    <h3>Escoge el formato del anuncio</h3>
    <div class="content-img">
      <button class="btn1 custom" type="button" (click)="onNext('img')">
        <div class="d-flex flex-column items-center">
          <img class="img" src="../../../../assets/imagen/campaing/imagen.png"> <span>Imágen</span>
        </div>
      </button>
      <button class="custom" type="button" (click)="onNext('video')">
        <div class="d-flex flex-column items-center">
          <img class="img" src="../../../../assets/imagen/campaing/camara.png"> <span>Video</span>
        </div>
      </button>
    </div>
    <div class="content-img">
      <button class="btn3 custom" type="button" (click)="onNext('survey')">
        <div class="d-flex flex-column items-center">
          <img class="img" src="../../../../assets/imagen/campaing/lista-de-deseos.png"> <span>Encuesta</span>
        </div>
      </button>
      <button class="custom" type="button" (click)="onNext('albums')">
        <div class="d-flex flex-column items-center">
          <img class="img" src="../../../../assets/imagen/campaing/album-de-fotos.png"> <span>Álbum</span>
        </div>
      </button>
    </div>
    <div class="content-img">
      <button class="btn3 custom" type="button" (click)="onNext('encuesta')">
        <div class="d-flex flex-column items-center">
          <img class="img" src="../../../../assets/imagen/campaing/chat.png"> <span>Encuesta</span>
        </div>
      </button>
      <button class="custom" type="button" (click)="onNext('correo')">
        <div class="d-flex flex-column items-center">
          <img class="img" src="../../../../assets/imagen/campaing/correo-electronico.png"> <span>Álbum</span>
        </div>
      </button>
    </div>
    <div class="content-img">
      <button class="btn3 custom" type="button" (click)="onNext('push')">
        <div class="d-flex flex-column items-center">
          <img class="img" src="../../../../assets/imagen/campaing/push-notification.png"> <span>Encuesta</span>
        </div>
      </button>
    </div>
    <label for="">Selecciona un formato</label>
  </div>
  <button class="btn btn-escojer" (click)="nextSubStep($event)">Siguiente</button>
</div>
