// :host {
//   width: 100%;
//   @media (min-width: 992px) {
//     .login-form {
//       width: 100%;
//       max-width: 450px;

//       .mat-form-field {
//         width: 100%;
//       }
//     }
//   }
// }

input {
  &.is-invalid {
    border: 1px solid red;
    background-image: none;
  }
  &.is-valid {
    border: 0px solid #fff
  }
}

.form-select:focus {
  border-color: #fff;
}

h1, h2, h3, div, label, p {
  font-family: 'DM Sans', sans-serif;
}
.text {
  color: #646469;
  font-family: 'DM Sans', sans-serif;
}
.wrapper-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10px;
  padding-bottom: 10px;
  width: auto;
  width: 100%;

  .wrapper-form-reg {
    min-width: 600px;
    max-width: 800px;
    width: 100%;
    height: 100%;
    border-radius: 13px;
    background-color: transparent !important;

    .custom-bg-transparent {
      background-color: #ffffff72;
    }

    .btn-stepper-first {
      width: 48%;
    }

    .wrapper-input-second-step {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      .input-second-step {
        width: auto;
        border: none;
        outline: none;
        text-align: end;
        border-radius: 6px;
        padding-right: 6px;

        &:disabled {
          background-color: transparent;
          user-select: none;
          border: 1px solid transparent;
        }
      }

      .is-invalid-input {
        border: 1px solid #fff;
      }


      .bt-edit-input {
        background-color: transparent;
        border: none;
        margin-left: 4px;
      }
    }

    .wrapper-text-second-step {
      display: grid;
      grid-template-columns: 60px auto;
      padding: 10px;
      border-radius: 4px;
      background-color: #f6f6f6;
      margin-top: 10px;

      .icon-style {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .content-second-step {
        font-size: 11px;

        .title-second-step {
          color: plum;
          font-size: 13px;
        }
      }
    }

    .wrapper-input-password {
      position: relative;

      button {
        position: absolute;
        top: 43px;
        right: 12px;
        border: none;
        outline: none;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background: white;
      }
    }

    &::ng-deep mat-horizontal-stepper {
      .mat-horizontal-stepper-header-container { display: none; }
    }

    .wrapper-img {
      position: relative;

        img {
          width: 90px;
          height: 80px;
          border-radius: 50px;
        }

        button {
          position: absolute;
          bottom: 0;
          right: 15px;
          border: none;
          outline: none;
          background-color: transparent;
        }

    }

    .wrapper-img-bonus {
      display: flex;
      align-items: center;
      justify-content: center;

    }

    .wrapper-progress-bar {
      height: 10px;

      .style-progress-bar {
        color: black;
        font-size: 10px;
      }
    }

    .wrapper-blummer-cash {
      background-color: #f2f2f2;
      height: 40px;
      width: 70px;
      border-radius: 4px;
    }
  }
}

.custom {
  background: rgb(246,246,246);
  background: linear-gradient(180deg, rgba(246,246,246,1) 0%, rgba(236,252,255,1) 100%);
}
::ng-deep .mat-horizontal-content-container {
  background: rgb(246,246,246);
  background: linear-gradient(180deg, rgba(246,246,246,1) 0%, rgba(236,252,255,1) 100%);
}
.newbtn {
  font-size: 13px;
}
.form-control{
border: 0px solid;;
}
.class {
  top: 43px;
}

.size {
  color:  #777a8a;
  font-size: 13px;
}

.user {
  padding: 0px 34px 0px 29px;
}

.btnicon {
  position: relative;
  top: -2.1rem;
  background-color: transparent !important;
  background: transparent !important;
  border: 0px solid #ffff;
}

.iconbtn {
  position: relative;
  background: transparent !important;
  background-color: transparent !important;
  border: 0px;
  top: -2.2rem;
  left: 80%;
}

.hide {
  display: none;
}
.politc-i {
  font-size: 37px;
  width: 105%;
  color: slateblue;
}
.politc {
  background: transparent !important;
    border: 0px;
    height: 78px;
    width: 91%;
}

.rubri{
  padding-top: 4.25rem !important;
}



.primary{
  background: white;
}
