.dashboard-general {
    background-color: #fff;

    .blumer-tab {

      .blumer-content-tab {
        background-color: #efefef;
        border-color: #ffff;
        color: gray;
        text-align: center;
        transition: background-color 700ms ease;
        margin: 1px;
        height: 40px;

        &:active {
            background-color: #7dd9d4;
            color: white;
        }
      }
    }
}

.selected-tab-style {
    background-color: #dfbaff !important;
    color: white !important;
}

