.main-wrapper {

  form {
    width: 100%;
  }

  .style-contact-form {
    background-color: #bababa26;
  }

  .wrapper-historal-list {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #bababa26;
    height: 374px;
    min-height: 374px;
    max-height: 374px;
  }
}
