.color {
  color: red;
}
.txt {
  font-weight: 400;
  font-size: 14;
  font-family: 'Segoe UI';
}

.possition {
  color: rgb(8, 8, 8);
  position: absolute;
  top: 25px;
  left: 0%;
  width: 30%;
  padding: 5px 4px 9px 3px;
  border-radius: 6px;
  border: 1px solid gainsboro;
  font-weight: 400;
  font-size: 14;
  font-family: 'Segoe UI';

}

:focus {
  outline: 0px solid gainsboro;
}
