<div class="row">
<div class="col-sm-6 form-group font-word">
  <label class="label">{{label}}</label>
  <input name=" form-control password" [type]="showPassword ? 'text' : 'password'" class="form-control pwd-control"
    id="password-field" placeholder="password">
  <i alt="show"
  class="fa-solid fa-eye i-password-right"
   (click)="showPassword = !showPassword"
    [class.hide]="showPassword"></i>
  <i alt="hide" class="far fa-eye-slash i-password-right eye-hide" (click)="showPassword = !showPassword"
    [class.hide]="!showPassword"></i>
  <i class="fa-solid fa-lock i-password-left"></i>
</div>
<div class="col-sm-6 form-group font-word">
 <BUtton class="btn-password" style="color: #FFFFFF;">Cambiar contraseña</BUtton>
</div>


