.passwords input {
  padding: 9px 41px 10px 35px;
  outline: none;
  border-radius: 8px;
  border: 1px solid gainsboro;
  width: 30%;
  height: 44px;
}

.right{
  color: #6f6f6f;
  font-size: 19px;
  position: relative;
  left: -37px;
  top: 3px;
  cursor: pointer;
}
.left {
  color: #6f6f6f;
    font-size: 19px;
    position: absolute;
    cursor: pointer;
    left: 38px;
    top: 39rem;
}
