.nameinput {
  padding: 7px 34px 7px 19px;
  outline: none;
  border-radius: 8px;
  border: 1px solid gainsboro;
  width: 100%;
  height: 43px;
}

.icon {
  color: #6f6f6f;
    font-size: 19px;
    position: relative;
    left: 20.8rem;
    top: -2.2rem;
    cursor: pointer;
}
.userinput {
  outline: none;
  border-radius: 8px;
  border: 1px solid gainsboro;
  width: 100%;
  height: 43px;
  padding: 12px 31px 10px 28px;
}

.userinput::before {
  content: 'Lo que sea';
  width: 2rem;
}
.userleft {
  color: #6f6f6f;
  font-size: 19px;
  position: relative;
  left: -12px;
  top: -2.2rem;
  cursor: pointer;
}
.userright {
  color: #6f6f6f;
  font-size: 19px;
  position: relative;
  left: 298px;
  top: -2.2rem;
  cursor: pointer;
}


.left-inner-addon {
  position: relative;
}

.left-inner-addon i {
  position: absolute;
  padding: 12px 300px;
  color: #6f6f6f;
  font-size: 19px;
  cursor: pointer;
  pointer-events: none;
}
