<div class="row">

  <div class="col-sm-6 form-group">
    <label class="label">Nombre completo</label>
    <div class="left-inner-addon">
      <i class="fa-solid fa-pen"></i>
      <!-- <label class="label">Nombre completo</label> -->
      <input class="form-control nameinput" type="text" name="" id="" placeholder="{{placeholder}}">

    </div>


  </div>
  <div class="col-sm-6 form-group">
      <label class="label parrafo">Coloca tu usuario de Blumer</label>
        <input  class="form-control userinput" type="text" name="" id="" placeholder={{placeholder}}>
        <i class="fa-solid fa-pen userright"></i>
        <i class="fa-solid fa-at userleft"></i>
    </div>
</div>
