.name input {
  padding: 9px 41px 10px 16px;
  outline: none;
  border-radius: 8px;
  border: 1px solid gainsboro;
  width: 30%;
  height: 44px;
}

.icon {
  color: #6f6f6f;
  font-size: 19px;
  position: relative;
  left: -29px;
  top: 3px;
  cursor: pointer;
}
