
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$blumerads-primary: mat.define-palette(mat.$indigo-palette);
$blumerads-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$blumerads-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$blumerads-theme: mat.define-light-theme((
  color: (
    primary: $blumerads-primary,
    accent: $blumerads-accent,
    warn: $blumerads-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($blumerads-theme);

/* You can add global styles to this file, and also import other style files */
@import "./assets/sass/style.scss";
// Replace above style with this css file to enable RTL styles
@import './assets/sass/plugins.scss';
// @import "./assets/css/style.rtl.css";
@import "./assets/sass/style.angular.scss";

.btn-primary-blumer {
    color: white;
    background-color: #8364e2;
    width: 140%;
  }

  .btn-green-blumer {
    color: white;
    background-color: #00b48f;
    width: 140%;
  }

  body {
    background: rgb(142,140,177);
    background: linear-gradient(180deg, rgba(142,140,177,1) 0%, rgba(255,255,255,1) 29%, rgba(236,252,255,1) 100%);
  }

  .btn-primary-blumer:hover {
    color: white;
    background-color: #00b48f;
    width: 140%;
  }

  * {
    margin: 0;
    padding: 0;
}

form {
    width: 50%;
    margin: auto;
    margin-top: 200px;

}

form .grupo_input  {
position: relative;
padding: 14px 12px 12px 42px;
}
form .grupo_input input {
    padding: 14px 12px 12px 42px;
    outline: none;
    border-radius: 10px;
    border: 1px solid gainsboro;

}
form .grupo_input  i {
    position: absolute;
    margin-left: 17px;
    margin-right: 15px;
    top: 14px;
    font-size: 18px;
}
.label {
    display: block;
    margin-bottom: .4rem;
    font-size: .9rem;
    font-weight: bold;
    color: #00000099;

  }
  .name input {
    padding: 5px 15px 7px 15px;
    outline: none;
    border-radius: 10px;
    border: 1px solid gainsboro;
    width: 30%;

}
form .passwords input {
  padding: 5px 32px 7px 32px;
  outline: none;
  border-radius: 10px;
  border: 1px solid gainsboro;
  margin-left: -6%;

}

.passwords i.left  {
  position: absolute;
  padding: 11px 12px;
  pointer-events: none;
  user-select: none;
  cursor: pointer;

}

.passwords i.right  {
  position: relative;
  left: 15.75rem;
  padding: 11px 15px 8px 9px;
  cursor: pointer;
}
.color {
  color: red;
}
form .email input {
  padding: 5px 32px 7px 12px;
  outline: none;
  border-radius: 8px;
  border: 1px solid rgb(255, 0, 0);

}
form .email i.rightt  {
  position: relative;
  left: 17.75rem;
  padding: 11px 15px 8px 9px;
  cursor: pointer;

:root {
  --green-blummer: #00b48f;
  --violet-blummer: #8364e2;;
}

}
