:host {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.blumer-tab {
  width: 25%;
}

.blumer-content-tab {
  background-color: #efefef;
  border-color: #e8e8e8;
  color: gray;
  text-align: center;
}

.blumer-content-tab.active {
  background-color: #7dd9d4;
  color: white;
}

.page-background {
  background-color: #f5f7f8;
}

.number-card {
  background-color: #e5e8e9;
}

.dashboard-general {
  background-color: #f5f7f8;
}


.container-grafic {
  display: flex;
  justify-content: center;



  .barras {

    width: 50%;
    padding: 0;

    margin-right: auto;
  }

  .dona {
    width: 50%;
    padding: 0;
    margin-left: auto;

  }

}