:host {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.blumer-tab {
  width: 25%;
}

.blumer-content-tab {
  background-color: #efefef;
  border-color: #e8e8e8;
  color: gray;
  text-align: center;
}

.blumer-content-tab.active {
  background-color: #7dd9d4;
  color: white;
}

.page-background {
  background-color: #f5f7f8;
}

.number-card {
  background-color: #e5e8e9;
}

.dashboard-general {
  background-color: #f5f7f8;
}


.container-grafic {
  display: flex;
  width: 90%;
  background-color: #F5F7F8;
  font-size: 13px;
  color: #6F6F6F;
  font-weight: bold;
  text-transform: capitalize;
  height: 35%;

  padding: 10px;



  .barras {
    height: 100%;
    width: 90%;

  }

  .dona {
    height: 100%;
    width: 40%;


  }

}




.container-paises {
  .PAISES {}

  padding: 15px;
  display: flex;

  .titulo {
    font-size: 13px;
    color: #6F6F6F;
    font-weight: bold;
    text-transform: capitalize;

  }



  table {
    border-collapse: collapse;
    width: 50vw;

  }

  th,
  td {
    text-align: left;
    padding: 8px;
  }

  th {
    background-color: #EBE5FF;
  }



  .alcance {
    background-color: #EBE5FF;
    padding-left: 0%;

  }

  background-color: #F5F7F8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  box-shadow: 4px 4px 10px #EBE5FF;
  font-family: 'Open Sans',
  sans-serif;

}






.Container-1 {
  display: flex;

  table {
    border-collapse: collapse;
    width: 100%;
  }

  th,
  td {
    text-align: left;
    padding: 8px;
  }

  th {
    background-color: #f2f2f2;
  }

  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
}