<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs dashboard-general">
    <li [ngbNavItem]="1" class="blumer-tab">
      <a ngbNavLink class="blumer-content-tab">General</a>
      <ng-template ngbNavContent>
        <div class="mb-5 mb-xl-10 page-background container-fluid">
            <div class="row">
                <div class="col-sm p-5">
                    <app-stats-card class="number-card"
                        value="$1200"
                        description="Total invertido"
                        icon="./assets/media/icons/duotune/general/gen045.svg"
                        >
                    </app-stats-card>
                </div>

                <div class="col-sm p-5">
                    <app-stats-card class="number-card"
                        value="$355"
                        description="Saldo consumido"
                        icon="./assets/media/icons/duotune/general/gen045.svg"
                        >
                    </app-stats-card>
                </div>
                <div class="col-sm p-5">
                    <app-stats-card class="number-card"
                        value="50"
                        description="Impresiones"
                        icon="./assets/media/icons/duotune/general/gen045.svg"
                        >
                    </app-stats-card>
                </div>
                <div class="col-sm p-5">
                    <app-stats-card class="number-card"
                        value="30"
                        description="Clicks"
                        icon="./assets/media/icons/duotune/general/gen045.svg"
                        >
                    </app-stats-card>
                </div>
            </div>
        </div>



  <!-- begin::Body -->
  <div class="card-body">
    <!-- begin::Chart -->
    <div #chartRef id="kt_charts_widget_3_chart" [style.height]="'350px'">
      <apx-chart
        [series]="chartOptions.series"
        [chart]="chartOptions.chart"
        [xaxis]="chartOptions.xaxis"
        [yaxis]="chartOptions.yaxis"
        [dataLabels]="chartOptions.dataLabels"
        [stroke]="chartOptions.stroke"
        [legend]="chartOptions.legend"
        [fill]="chartOptions.fill"
        [states]="chartOptions.states"
        [tooltip]="chartOptions.tooltip"
        [colors]="chartOptions.colors"
        [markers]="chartOptions.markers"
        [plotOptions]="chartOptions.plotOptions"
      ></apx-chart>
    </div>
    <!-- end::Chart -->
  </div>
  <!-- end::Body -->



      </ng-template>
    </li>
    <li [ngbNavItem]="2" class="blumer-tab">
      <a ngbNavLink class="blumer-content-tab">Campañas</a>
      <ng-template ngbNavContent>
        <app-campaign></app-campaign>


      </ng-template>
    </li>
    <li [ngbNavItem]="3" class="blumer-tab">
      <a ngbNavLink class="blumer-content-tab">Público Objetivo</a>
      <ng-template ngbNavContent>
        <app-target-audience></app-target-audience>
      </ng-template>
    </li>
    <li [ngbNavItem]="4" class="blumer-tab">
        <a ngbNavLink class="blumer-content-tab">Anuncios</a>
        <ng-template ngbNavContent>
          <app-ads></app-ads>
        </ng-template>
      </li>
  </ul>

  <div [ngbNavOutlet]="nav"></div>


