<!-- begin::Header -->
<div class="card-header border-0 pt-5">
  <div *ngIf="template === 1" class="card-toolbar">
    <app-confirmation-button [textDescription]="masterInitialData?.newButton"></app-confirmation-button>
  </div>
  <div class="card-title align-items-end flex-column">
    <div class="d-flex align-items-center position-relative me-4"><span
        class="svg-icon svg-icon-3 position-absolute ms-3"><svg width="24" height="24" viewBox="0 0 24 24" fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1"
            transform="rotate(45 17.0365 15.1223)" fill="currentColor"></rect>
          <path
            d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z"
            fill="currentColor"></path>
        </svg></span><!---->
      <input type="text" id="filter_campaign" placeholder="Buscar"
        class="form-control form-control-white form-control-sm w-150px ps-9">
    </div>
  </div>

</div>
<!-- end::Header -->
<!-- begin::Body -->
<!--<div class="card-body py-3">
  &lt;!&ndash; begin::Table container &ndash;&gt;
  <div class="table-responsive">
    &lt;!&ndash; begin::Table &ndash;&gt;

    <table class="table align-middle gs-0 gy-4">
      &lt;!&ndash; begin::Table head &ndash;&gt;
      <thead>
        <tr class="fw-bolder text-muted bg-light">
          <ng-container
            *ngFor="let column of masterInitialData?.columnTitles; let index = index; let first = first; let last = last;">
            <th *ngIf="column.visible" class="min-w-200px"
              [ngClass]="{'rounded-start': (index == 1), 'ps-4': (index == 1), 'rounded-end': last}">
              {{column.title}}
            </th>
          </ng-container>

        </tr>
      </thead>
      &lt;!&ndash; end::Table head &ndash;&gt;
      &lt;!&ndash; begin::Table body &ndash;&gt;
      <tbody>
        <tr *ngFor="let row of masterInitialData?.rows; index as i">
          <td>
            <div class="d-flex align-items-center">
              <div class="d-flex justify-content-start flex-column">
                <a href="#" class="text-dark fw-bolder text-hover-primary mb-1 fs-6">
                  {{row?.name}}
                </a>
                <span class="text-muted fw-bold text-muted d-block fs-7">
                  {{row?.date}}
                </span>
              </div>
            </div>
          </td>
          <td>
            <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">
              {{row?.state}}
            </a>
          </td>
          <td>
            <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">
              {{row?.saldo}}
            </a>
          </td>
          <td>
            <a href="#" class="text-dark fw-bolder text-hover-primary d-block mb-1 fs-6">
              {{row?.clicks}}
            </a>
          </td>
          <td class="text-end">
            <button class="btn">Ver reporte</button>
            <a href="#" class="
                    btn btn-icon btn-bg-light btn-active-color-primary btn-sm
                    me-1
                  ">
              <span [inlineSVG]="'./assets/media/icons/duotune/arrows/arrow_table_down.svg'"
                class="svg-icon svg-icon-3"></span>
            </a>
          </td>
        </tr>
      </tbody>
      &lt;!&ndash; end::Table body &ndash;&gt;
    </table>
    &lt;!&ndash; end::Table &ndash;&gt;
  </div>
  &lt;!&ndash; end::Table container &ndash;&gt;
</div>-->
<!-- begin::Body -->

<div class=" container-fluid page-background ">
  <div class="row">
    <div class="col-sm-3 p-5">
      <app-stepper></app-stepper>
    </div>
    <div class="col-sm-6 p-5">
      <div class="card-body card-bordered-white">
        <h3>Escoge el público de tu campaña</h3>
        <p>Para comenzar selecciona el público al que se dirija tu campaña.</p>

        <ul ngbNav #nav="ngbNav" class="nav-tabs blummer-tabs">
          <li [ngbNavItem]="1" class="tab-item">
            <a ngbNavLink class="blumer-content-tab-lg">Nuevo público</a>
            <ng-template ngbNavContent>

            </ng-template>
          </li>
          <li [ngbNavItem]="2" class="tab-item">
            <a ngbNavLink class="blumer-content-tab-lg">Público existente</a>
            <ng-template ngbNavContent>
              <div class="mt-3">
                <app-dropdown-actions [selectConfig]="dropDownList" label="Coloca el público existente"></app-dropdown-actions>
              </div>

              <hr class="hr hr-position">
              <div class="align-items-center d-flex gap-16 mt-11 ng-star-inserted">
                <label class="form-label label-select">Edades</label>
                <div class="align-items-center d-flex flex-fill gap-3">
                  <label class="form-label label-select">Desde</label>
                  <select class="form-select" style="width: 16%;">
                    <option value="18">18</option>
                  </select>
                  <label class="form-label label-select ms-8">Hasta</label>
                  <select class="form-select" style="width: 16%;">
                    <option value="25">25</option>
                  </select>
                </div>
              </div>
              <!-- <hr class="hr"> -->
              <!--Aqui va el componente genero-->
              <hr class="hr hr-position">
              <div class="align-items-center d-flex gap-16 mt-11 ng-star-inserted">
                <label class="form-label label-select">Género</label>
                <div class="align-items-center d-flex flex-fill gap-3">
                  <button class="color new">Todos</button>
                  <button class="color">Hombres</button>
                  <button class="color">Mujeres</button>
                  <button class="color">Otro</button>
                </div>
              </div>
              <hr class="hr">
              <!--  -->

              <div class="mt-3 mb-5">
                <app-tag-selector></app-tag-selector>
              </div>
              <hr class="hr">
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav"></div>
      </div>

    </div>
    <div class="col-sm-3 p-5">

    </div>
  </div>
</div>

