.label {
display: inline;
font-size: 14px;
color: #1e1f21;
border-radius: 2px;
font-weight: 400;
font-family: 'Segoe UI';
}

.form-check {
  width: 35%;
  padding: 35px 16px 5px 21px;
  margin-left: 5%;
}
.input {
  position: absolute;
  top: 40px;
  margin-left: -17px;

}
